*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html,
body{
width:100%;
height:100%;
overflow:hidden;
background:#111;
}

canvas{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
display:block;
}

#loading{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:#050505;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:999;
color:white;
}

#loading h1{
font-size:52px;
margin-bottom:20px;
letter-spacing:4px;
}

.loader{
width:90px;
height:90px;
border-radius:50%;
border:8px solid rgba(255,255,255,.15);
border-top:8px solid #00ff90;
animation:spin 1s linear infinite;
margin-bottom:20px;
}

@keyframes spin{
to{
transform:rotate(360deg);
}
}

#hud{
position:fixed;
top:20px;
left:20px;
right:20px;
z-index:100;
pointer-events:none;
}

.top{
display:flex;
gap:15px;
}

.box{
background:rgba(0,0,0,.55);
backdrop-filter:blur(10px);
padding:15px;
border-radius:14px;
color:white;
min-width:120px;
}

.box span{
font-size:13px;
opacity:.7;
}

.box h2{
margin-top:5px;
font-size:30px;
}

.mission{
margin-top:20px;
display:inline-block;
padding:12px 20px;
background:rgba(0,0,0,.55);
color:white;
border-radius:12px;
}

#menu{
position:fixed;
left:50%;
top:50%;
transform:translate(-50%,-50%);
display:flex;
flex-direction:column;
gap:18px;
z-index:200;
}

#menu h1{
color:white;
text-align:center;
font-size:64px;
margin-bottom:20px;
text-shadow:0 0 25px #00ff90;
}

#menu button{
padding:16px 40px;
font-size:22px;
border:none;
border-radius:14px;
cursor:pointer;
background:#00d66b;
color:white;
transition:.25s;
font-weight:bold;
}

#menu button:hover{
transform:scale(1.05);
background:#00ff88;
}

#gameOver{
display:none;
position:fixed;
left:50%;
top:50%;
transform:translate(-50%,-50%);
background:rgba(0,0,0,.8);
padding:40px;
border-radius:20px;
text-align:center;
color:white;
z-index:300;
}

#gameOver h1{
font-size:50px;
margin-bottom:15px;
}

#gameOver button{
margin-top:20px;
padding:14px 30px;
font-size:22px;
background:#00d66b;
color:white;
border:none;
border-radius:12px;
cursor:pointer;
}

#mobileControls{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
display:none;
gap:15px;
z-index:500;
}

#mobileControls button{
width:72px;
height:72px;
border:none;
border-radius:50%;
background:rgba(255,255,255,.2);
backdrop-filter:blur(12px);
color:white;
font-size:28px;
font-weight:bold;
}

#mobileControls button:active{
transform:scale(.9);
background:#00d66b;
}

@media(max-width:900px){

#mobileControls{
display:flex;
}

.top{
flex-wrap:wrap;
}

.box{
min-width:95px;
padding:12px;
}

.box h2{
font-size:22px;
}

#menu h1{
font-size:42px;
}

#menu button{
font-size:18px;
padding:14px 25px;
}

.loader{
width:70px;
height:70px;
}

}
